---
import HomeHero from '../components/HomeHero.astro';
import HomeMain from '../components/HomeMain.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Layout from '../layouts/Layout.astro';
import { homeMeta } from '../data/home';
import '../styles/shell.css';
import '../styles/home.css';
---

<Layout title={homeMeta.title} description={homeMeta.description}>
	<div id="top" class="page-shell" style={`--hero-bg-image: url(${import.meta.env.BASE_URL}images/hero-bg.png);`}>
		<SiteHeader />
		<HomeHero />
		<main class="home-main">
			<HomeMain />
		</main>
		<SiteFooter />
	</div>
</Layout>
